:root{
  --primary-color: #4CAF4F;
  --title-primary-color: #1B5E1F;
  --primar-color: #4CAF4F;
  --main-grey: #4D4D4D;
  --sec-grey:#717171;
  --text-grey: #4D4D4D;
  --main-block: #4CAF4F;
  --silver-color: #4CAF4F;
  --main-white: #FFFFFF;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 130px;
}

header{
    padding: 5px;
}
  
.custom-btn{
    background-color:var(--primary-color);
    color: var(--main-white);
    border:none;
    border-radius: 6px;
    width: 91px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
}
/*.regiter-btn{
    width: 128px;
    height: 52px;
}*/
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:155px;
    height: 24px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
nav ul li a{
    color: var(--text-grey);
    font-size: 16px;
}
.buttons{
    display: flex;
    gap:14px;
    align-items: center;
}
.login{
    border: none;
    background: none;
    font-size: 14px;
    color: var(--primar-color);
    line-height: 20px;
    font-weight: 500px;
}

.hero-section{
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;
}
.hero-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 70px 0px;
}

.hero-text{
    width: 100%;
}

.hero-img{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-title{
    color: var(--main-grey);
    font-size: 54px;
}
span{
    color: var(--primar-color);
}

.dots{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: var(--sec-grey);
    border-radius: 50%;
}
.active{
    background-color: var(--primar-color);
}
p{
    color: var(--sec-grey);
    font-size: 18px;
    line-height: 24px;
    margin-top: 0%;
}


.text-middle{
display: flex;
 color: var(--main-grey);   
 height: 41px;
 justify-content: center;
 align-items: center;
 margin: 0;
 line-height: 0.8;
 font-size: 25px;
}
.section2 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}
.text-sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 40px;
    margin-top: 18px;
    margin-bottom: 50px;
}

.section3 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}
.text-sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}


.cards-sec3{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  margin-top: 20px;
}

.card{
  background: var(--main-white);
  width: 250px;
  padding: 30px 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.card img{
  width: 50px;
  margin-bottom: 20px;
}

.card h3{
  color: var(--main-grey);
  font-size: 20px;
  margin-bottom: 10px;
}

.card p{
  font-size: 14px;
  line-height: 22px;
  color: var(--sec-grey);
}

.section4{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.sec3-title{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 36px;
leading-trim: NONE;
line-height: 44px;
letter-spacing: 0%;
color: var(--main-grey);

}

.sec3-description{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0%;
color: var(--sec-grey);

}

.section-4{
    margin-top: 60px;
}
.section-5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}
.stats{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.helping{
    background-color:#F5F7FA;
}

.ss{
    display: flex;
    flex-direction: row;
    gap:10px;
}
span{
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.sec5-title{
    color: var(--primary-color);
}
.meet{
    color: var(--primar-color);
}

.logos-sec5 ul{
    gap: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    margin-top: 40px;
    margin-top: 18px;
    margin-bottom: 50px;
}

.section-5{
    margin-top: 70px;
    background-color: #F5F7FA;
    margin-bottom: 60px;
}

.imgs{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 125px;

}

.end{
    margin-top: 60px;
    margin-bottom: 50px;;
    font-size: 40px;
   margin-left: 300px;
    color: black;
}

.get-btn{
    margin-left: 50px;
}


body {
    margin: 0;
    font-family: sans-serif;
}

.footer {
    background-color: #263238; 
    color: #FFFFFF;
    padding: 60px 10%;
    margin-top: 70px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}


.footer-col h3 {
    font-size: 18px;
    margin-bottom: 25px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: var(--primar-color); 
}


.footer-logo {
    width: 150px;
    margin-bottom: 25px;
}

.footer-col p {
    font-size: 14px;
    color: #f5f5f5;
    margin: 5px 0;
}

.social-links {
    margin-top: 25px;
}


.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group input {
    background: #515b60;
    border: none;
    border-radius: 8px;
    padding: 12px 15px;
    color: white;
    width: 200px;
    outline: none;
}

.input-group button {
    
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.input-group button img {
    width: 18px; 
}