* {

}

.container{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-around;
    height: 50px;
   padding: 40px;
    
}


.container ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    text-decoration: none;
    border-radius: 70px;
    background-color: white ;
    width: 571px;
height: 30px;
opacity: 1;
top: 49px;
left: 406px;
border-radius: 40px;
    
    
}
a{
    list-style: none;
    text-decoration: none;
    color: #000;
}

header{

    background-color: #FAFAFA ;
    padding: 20px ;
     border-radius: 40px;
     margin-top: 20px;
}
.contact{
    margin-top: 14x;
    width: 158px;
height: 60;
angle: 0 deg;
opacity: 1;
top: 47px;
left: 1228px;
border-radius: 40px;
gap: 10px;
border-width: 1px;
padding-top: 15px;
padding-right: 35px;
padding-bottom: 15px;
padding-left: 35px;
background-color: white;

}
.logo{
    margin-top: 14px;
}
.services{
    margin-left: 800px;
}
.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("Rectangle\ 14\ \(1\).png");
}
.hero-content{
    margin-top: 60px;
    margin-left: 30px
}
.hero-image img{
Width: 500.2px;
Height:500.44px;


}
h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
}
p{
    font-size: 18px;
    line-height: 30px;
}
.sec1{
    padding: 40px;
    text-align: center;
}
.sec2 img{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.sec2{
    padding: 40px;
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    gap: 30px;
}
.sec2 div img{
    width: 45px;
    height: 45px;
}
h1{
    margin-top: -15px;
    font-size: 40px;
}
.sec4{
    padding: 40px;
}

.sec5{
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 30px;
}
.sec5 div{
    border: 1px #BEBEBE solid;
border-radius: 20px;padding: 10px;

}
.star{
    width: 150px;
    height: 20px;
}
.sec6{
    padding: 40px;
    text-align: center;
}
.sec7{
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 150px;
}
.numbers{
display: flex;
flex-direction: row;
gap: 80px;
padding: 40px;
}
.book, .hero-button{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: #000;
    color: white;
    border: none;
}
.read{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    color: #000;
    border-color: gray;
}